# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Temporary files
tempCodeRunnerFile.py
*.tmp

# Local Flask database
instance/

# IDE/editor files
.vscode/
.idea/